@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat-Light.woff2') format('woff2'),
    url('/src/assets/fonts/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat-Bold.woff2') format('woff2'),
    url('/src/assets/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat-Medium.woff2') format('woff2'),
    url('/src/assets/fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('/src/assets/fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('/src/assets/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  user-select: none;
  font-size: 14px;
  line-height: 20px;
}

.zaui-routes {
  height: 100%;
}

.zaui-page {
  background-color: white;
  min-height: calc(100vh - 56px);
  // margin-top: 104px;
  margin-top: 56px;
}

.zaui-page.home {
  background-color: #731611;
  margin-top: 0;
}

.zaui-header {
  background-color: transparent;
  position: relative;
  height: auto;
  margin-bottom: 0;
  flex: none;

  &::after {
    display: none;
  }

}

.zaui-header.sub {
  background-color: white;
  position: fixed;
  z-index: 9999;

  & .zaui-header-title {
    line-height: 1;
  }

  // & .zaui-icon,
  // & .zaui-header-title {
  //   // color: #731611;
  //   // font-weight: 600;
  // }
}

.zaui-input-affix-wrapper {
  margin: 0;
  border-radius: 4px;
}

.border-inset {
  border: 0.5px solid rgba(0, 0, 0, 0.1);
}

.zaui-btn {
  border-radius: 8px;
}

input,
select {
  outline: none;
}

.zaui-input-affix-wrapper:hover,
.zaui-input-affix-wrapper:focus,
.zaui-input-affix-wrapper:focus-visible {
  border-color: #b9bdc1;
}

input[type='checkbox'],
input[type='radio'] {
  accent-color: #731611;
}

.zaui-checkbox-checked .zaui-checkbox-inner {
  background-color: #731611;
}

.zaui-modal-content {
  width: calc(100vw - 24px);
}

.zaui-list-item-right {
  align-items: center;
}

.zaui-list-item-title {
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
}

.zaui-list .zaui-list-item:not(:last-child) {
  margin-bottom: 0;
}

tbody tr td:not(:first-child) {
  text-align: center;
}

.zaui-input-search {
  padding-left: 0;
}

.zaui-input-affix-wrapper.rounded-3xl {
  border-radius: 24px;
}

.zaui-select-options {
  max-height: 60vh;
}


.zaui-swiper-item  {
  opacity: 1 !important;
}

.zaui-swiper-item .task-item {
  border-bottom: 0;
}

.zaui-swiper-item .task-item img {
  width: 60px;
}

/**
* CUSTOM
**/

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.clip-path-1 {
  clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
}

.box-shadow-1 {
  box-shadow: 0px -4px 3px rgb(243 243 243);
}

.box-shadow-2 {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.box-shadow-3 {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.box-shadow-4 {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/**
* BOTTOM NAVIGATION
**/

.zaui-bottom-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
}

#footer .zaui-bottom-navigation-content {
  padding-block: 12px;
  height: fit-content;
}

.zaui-bottom-navigation-item-active {
  color: #731611;
}

/**
* MEETING
**/

.meeting-item:not(:last-child) {
  border-bottom: 1px solid #e5e7eb;
  padding-bottom: 16px;
}

.resident-item:not(:last-child) {
  border-bottom: 1px solid #e5e7eb;
}

/**
* BUTTON
**/
.zaui-btn .zaui-btn-container {
  display: block;
}

.zaui-btn-primary {
  background-color: #731611;
}

.zaui-btn-primary:active {
  background-color: #731611;
}

/**
* INPUT
**/

.zaui-input {
  height: 38px;
  font-size: 14px;
  line-height: 1;
}

textarea.zaui-input {
  line-height: 20px;
}

.zaui-input::placeholder {
  color: #777777;
}

textarea[name="address"] {
  min-height: unset;
}

.zaui-radio-checked .zaui-radio-checkmark {
  background-color: #731611;
}

.flexCol .radio-group {
  flex-direction: column;
  align-items: self-start;
}

.borderRed .zaui-input-affix-wrapper {
  border: 1px solid red;
}

.quill .ql-toolbar.ql-snow {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.quill .ql-container.ql-snow {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.zaui-input-affix-wrapper {
  border-radius: 8px;
}

/**
* MODAL
**/

.zaui-modal-content-main>div {
  padding: 0 !important;
}

/**
* NEWS
**/

.detail-content {
  font-size: 14px;
  line-height: 22px;
}

.detail-content p {
  margin-bottom: 8px;
}

.detail-content img {
  height: auto !important;
}

.detail-content ol {
  list-style: decimal;
  padding-left: 20px;
  margin-bottom: 8px;
}

.detail-content ul {
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 8px;
}

/**
* FILTER
**/

.filter .zaui-input-affix-wrapper {
  border-radius: 24px;
}

.filter .zaui-input-affix-wrapper .zaui-input {
  height: 32px;
}

/**
* SWIPER
**/

.zaui-swiper img {
  width: 100%;
}

/**
* TEXT EDITOR
**/

div.ql-editor {
  height: 200px;
}

/**
* MODAL
**/

.zaui-modal-content-description {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.zaui-modal-content .zaui-modal-content-title {
  font-weight: 600;
}

/**
* FEEDBACK
**/

.feedback-switch .zaui-switch:checked {
  background-color: #28a745;
}

/**
* LOADING
**/

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #731611;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #731611;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/**
* LOGIN
**/

.login-page .login-form label {
  display: block;
  height: 12px;
}

.login-page .login-form input {
  height: 46px;
  background-color: #73161118;
  padding-left: 38px;
  padding-right: 28px;
}

.login-page .login-form input,
.login-page .login-form input::placeholder {
  font-size: 16px;
  color: #731611;
  font-weight: 600;
}

/**
* NEWS
**/

.news-section .zaui-swiper-dots {
  bottom: 55px;
}

.news-section .zaui-swiper {
  border-radius: 0;
}

/**
* MAPS
**/ 

.leaflet-touch .leaflet-control-attribution a {
  display: none;
}

.leaflet-touch .leaflet-control-attribution span {
  display: none;
}

.leaflet-popup-content-wrapper {
  background-color: #ffffffe8;
}